@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  font-family: Inter, sans sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  background-color: black;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.logo {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(152, 142, 142);
}

.event {
  font-size: 5px;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links-items {
  font-size: 9px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.user {
  font-size: 9px;
} */